html {
	font-family: Arial, Verdana, sans-serif;
	background: #fff url(../images/pattern_156.gif) repeat center center;
	 }
/*credit for image and patterns - 
http://www.dinpattern.com/2013/04/25/dark-canvas/
https://www.iconfinder.com/icons/22392/animal_koala_icon#size=128*/
/*The color combinations below is my own (except the h1) and is a good example of how not to use color*/
body {
	margin: 0 auto;
	width: 98%;
	min-width: 600px;
	background:lightgray url(../images/pattern_153.gif) repeat center center;
	border: .2em solid #fff;
	border-radius: 2em;
	box-shadow: 5px 5px 5px #888888;
	 }
table { 
	width: 90%;
	overflow: auto;
	}
th, td { 
	padding: 7px 10px 10px 10px;
	}
th { 
	text-transform: uppercase; 
	letter-spacing: 0.1em; 
	font-size: 90%; 
	border-bottom: 2px solid #111111;  
	text-align: left;
	}
td 	{
	letter-spacing: 0.1em; 
	font-size: 90%; 
	border-bottom: 2px solid #111111; 
	text-align: left;
	}	
td.even { 
	background-color: #efefef;
	}
tr:hover { 
	background-color: #c3e6e5;
	}
a:link {
	color:blue;
	 }
a:visited {
	color:green;
		  }
a:hover {
	color:red;
		}
a:active {
	color:yellow;
		 }			 
ol {
	width: 69%;
	list-style-type: none;
	background-color:brown;
	text-align: center;
	border: 1px solid #000;
	margin: .3% auto;
	text-transform:capitalize;
	}
ol>li {
	display:inline;
	}
article{
	float:left;
	width: 30%;
	height: 800px;
	margin-left: 1.1%;
	margin-bottom: 5px;
	padding: 5px;
	overflow: scroll;
	} 
#content.clearfix	{
	overflow: auto;
	}     		   	
/*This color combo is from Adobe Kuler in hex notation*/
h1 {
	text-shadow: 6px 2px #fff;
	font-family: 'Happy Monkey', cursive;
	color:#3A50B2;
	background:#AC3 url(../images/dark-canvas.gif) repeat center center;
	margin: 5px auto;
	text-align: center;
	border: 5px solid;
	border-radius: 1em;
	}
/*This color schema is in rgba notation*/
p {
	text-indent: .5%;
	font: normal normal 400 1em/1.25 'Rosario', sans-serif;
	color:rgba(0,0,50,0.75);
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
	text-align: left;
	margin: .5% auto;
  }
h2 {
	text-shadow: 2px 2px #FFF;
	text-align: center;
	text-transform:Capitalize;
	font: normal normal 700 1.6em/1 'Cabin Condensed', sans-serif;
	color:hsl(80,75%,75%);
	display: inline-block;
	background:hsl(250,65%,75%) url(../images/koala.png) no-repeat left;
	background-size: 35px auto;
	height: 40px;
	width: 100%;
	border: 2px solid;
	border-radius: 1em;
   }
aside {
	clear: both;
	width: 69%;
	text-transform:lowercase;
	color:rgb(127,199,127);
	background-color:rgb(100,90,197);
	list-style-type: square;
	border: 1px solid #000;
	padding: 5px;
	margin: 0 auto;
   } 
